// Nord Theme
// -- Polar Night
$nord-000: #2E3440;
$nord-001: #3B4252;
$nord-002: #434C5E;
$nord-003: #4C566A;
$nord-004: rgb(41, 46, 57);
// -- Snow Storm
$nord-100: #D8DEE9;
$nord-101: #E5E9F0;
$nord-102: #ECEFF4;
// -- Frost
$nord-200: #8FBCBB;
$nord-201: #88C0D0;
$nord-202: #81A1C1;
$nord-203: #5E81AC;
// -- Aurora
$nord-300: #BF616A;
$nord-301: #D08770;
$nord-302: #EBCB8B;
$nord-303: #A3BE8C;
$nord-304: #B48EAD;

$primary: $nord-102;
